@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');

.navbarItems{
    background: #044071;
    font-family: Play;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
}



.navbarLogo{
    justify-self: start;
    margin-left: 20px;
    margin-right: 50px;
    margin-top: 30px;
}

.navMenu{
    display: grid;
    grid-template-columns: repeat(5,auto);
    grid-gap: 20px;
    list-style: none;
    text-align: center;
    width: fit-content;
    justify-content: end;
    margin-right: 2rem;

}

.menuIcon{
    color: #fafafa;
    display: none;
}
.menuIcon:hover{
    color: #a2c5e0;
}

.navLinks{
    color: #fafafa;
}
.navLinks:hover{
    text-decoration: underline;
}
.navLinks:active{
    color: #c9c8c5;
}